header {
  background-color: #eff0f2;
  text-transform: uppercase;
  font-size: 1rem;
  padding-top: 2.7rem; }
  header .logo {
    font-size: 1rem;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: bold;
    line-height: 1.65;
    letter-spacing: 1px;
    color: #000000;
    text-shadow: 0 0 2px rgba(21, 21, 22, 0.75);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: solid 5.5px #170f1c; }
    header .logo .letter {
      font-size: 21px;
      line-height: 1.33;
      letter-spacing: 1.3px;
      color: #77efe5; }
  header .logo:hover {
    text-decoration: none;
    color: #77efe5;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in; }
  header .logo:hover > .letter {
    color: #000000;
    transition: all 1s ease-in; }
  header .menu {
    justify-content: center; }
    header .menu .dropdown-toggle::after {
      display: none; }
    header .menu .dropdown-toggle::after {
      display: none; }
    header .menu .menu_icon {
      background: none;
      border: none; }
    header .menu .menu_icon {
      box-shadow: none; }
    header .menu .btn-secondary {
      background-color: transparent;
      color: rgba(0, 0, 0, 0.6);
      padding: 0; }
      header .menu .btn-secondary i {
        font-size: 2rem; }
    header .menu .btn-secondary:not(:disabled):not(.disabled):active {
      color: rgba(0, 0, 0, 0.6) !important;
      background-color: transparent !important;
      border: none !important; }
    header .menu .btn-secondary:focus {
      box-shadow: none !important; }
    header .menu .dropdown-menu-icon {
      -webkit-transform: translate3d(-125px, 31px, 0px) !important;
      transform: translate3d(-125px, 31px, 0px) !important;
      background-color: transparent;
      font-family: "Montserrat", "Arial", sans-serif;
      font-size: 1rem;
      margin: 0;
      border: none; }
      header .menu .dropdown-menu-icon a {
        color: rgba(0, 0, 0, 0.6);
        text-transform: uppercase; }
      header .menu .dropdown-menu-icon a:hover {
        background-color: rgba(255, 255, 255, 0.7);
        text-shadow: 0.5px 0.5px 0.5px #77efe5; }
  header .header__title {
    text-align: center;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 2.76rem;
    text-shadow: 3.5px 8.3px 10px rgba(0, 0, 0, 0.24);
    color: #505050;
    letter-spacing: .06em;
    font-weight: bold;
    margin: 12rem auto 8.5rem; }
    header .header__title .header__title--color {
      background-color: #77efe5; }
  header .header__link {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 1.05rem;
    letter-spacing: 0.12em;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    margin: 0 auto 11.5rem;
    text-transform: uppercase;
    border-radius: .12rem;
    border: solid 0.12rem rgba(0, 0, 0, 0.75);
    background-color: transparent;
    padding: .8rem 2.82rem; }
  header .btn-primary:focus {
    box-shadow: none !important; }
  header .btn-primary:not(:disabled):not(.disabled):active {
    color: rgba(0, 0, 0, 0.75) !important;
    background-color: transparent !important;
    border: solid 0.12rem #77efe5 !important; }
  header .btn-primary:hover {
    color: rgba(0, 0, 0, 0.75);
    background-color: #77efe5 !important;
    border: solid 0.12rem rgba(0, 0, 0, 0.75) !important; }

/*# sourceMappingURL=header.css.map */
